<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.modelexecution.org/fumltesting/uml/UmlTestLang" 
       class = "org.modelexecution.fumltesting.uml.umlTestLang.UmlTestLangPackage"
       genModel = "model/generated/UmlTestLang.genmodel" /> 
	
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated UmlTestLang -->
      <parser
            type="umltest"
            class="org.modelexecution.fumltesting.uml.umlTestLang.util.UmlTestLangResourceFactoryImpl"/>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.modelexecution.fumltesting.uml.execution.TestSuiteLaunchDelegate"
            delegateDescription="The fUML TestSuite Runner supporting execution of Test Cases on UML Activity Diagrams."
            delegateName="fUML TestSuite Launcher"
            id="org.modelexecution.fumltesting.uml.launchConfigurationType"
            modes="run"
            name="fUML TestSuite">
      </launchConfigurationType>
   </extension>


</plugin>
