<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.modelexecution.fumltesting.uml.launchConfigurationType">
<booleanAttribute key="bruteForceOn" value="true"/>
<stringAttribute key="model" value="/org.modelexecution.fumltesting.examples.userstudy.petstore/src/petstore.uml"/>
<stringAttribute key="ocl" value="/org.modelexecution.fumltesting.examples.userstudy.petstore/src/petstore.ocl"/>
<stringAttribute key="testSuite" value="/org.modelexecution.fumltesting.examples.userstudy.petstore/src/tests/getcart.umltest"/>
</launchConfiguration>
